.body{
	padding: 0;
	margin: 0;
	background-color: #FFF;
}

a{
	text-decoration: none;
}

.player{
	width: 720px;
	height: 360px;
	margin: 0 auto;
	background-color: #000;
	position: relative;
}

video{
	height: 100%;
	margin: 0 auto;

}

.controls{
	width: 720px;
	height: 40px;
	background-color: #1C192C;
	position: absolute;
	left: 0px;
	bottom: 5px;
	z-index: 100;
	border-radius: 4px;
}

.controls .start{
	float: left;
	width: 20px;
	height: 20px;
	color:#fff;
	position: absolute;
	top:11px;
	left:11px;
}

.controls .expend{
	float: right;
	width: 20px;
	height: 20px;
	color:#fff;
	position: absolute;
	top:11px;
	right:11px;
}

.progress{
	width: 500px;
	height: 10px;
	position: relative;
	top:15px;
	left: 35px;
}

.progress .line{
	width: 500px;
	height: 10px;
	background-color:#F7F5F5;
	opacity: 0.5;
	border-radius: 4px;
	position: absolute;
}

.progress .bar{
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 4px;
	position: absolute;
}
.times{
	position: absolute;
	right: 38px;
	color: #fff;
}